<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.aistar.day04.mapper.OrdersMapper">

    <select id="getById" resultType="ordersQueryVo" parameterType="int">
      select o.*,u.id uid,u.username from orders o join user u on
      o.user_id = u.id where o.id = #{value}
    </select>

    <resultMap id="findByIdMap" type="ordersCustomVo">
        <id column="id" property="id"></id>
        <!--<result column="" property=""></result>-->

        <!--映射封装一的一方-->
        <association property="user" column="uid" javaType="user" resultMap="common_sql.queryUserMap">
            <id column="uid" property="id"></id>
            <!--<result column="username" property="username"></result>-->
            <!--<result column="birthday" property="birthday"></result>-->
            <!--<result column="address" property="address"></result>-->
            <!--<result column="sex" property="sex"></result>-->
        </association>
    </resultMap>
    <select id="findById" parameterType="int" resultMap="findByIdMap">
        select o.*,u.id uid,u.username,u.sex from orders o join user u on
        o.user_id = u.id where o.id = #{value}
    </select>

    <resultMap id="findByOrderIdAndDetailsMap" type="ordersCustomVo" extends="common_sql.queryOrderMap">
        <id column="id" property="id"></id>
        <!--<id column="id" property="id"></id>-->
        <!--<result column="user_id" property="userId"></result>-->
        <!--<result column="number" property="number"></result>-->
        <!--<result column="createtime" property="createtime"></result>-->
        <!--<result column="note" property="note"></result>-->
        <!--映射多的一方-->
        <collection property="orderdetailSet" column="orders_id" ofType="orderdetail" resultMap="common_sql.queryOrderDetailMap">
            <!--<id column="did" property="id"></id>-->
            <!--<result column="orders_id" property="ordersId"></result>-->
            <!--<result column="items_id" property="itemsId"></result>-->
            <!--<result column="items_num" property="itemsNum"></result>-->
        </collection>
    </resultMap>

    <select id="findByOrderIdAndDetails" parameterType="int" resultMap="findByOrderIdAndDetailsMap">
        select o.*,d.id did,d.orders_id,d.items_id,d.items_num from orders o
        join orderdetail d on d.orders_id = o.id where o.id = #{value}
    </select>

    <select id="getByUserId" parameterType="int" resultType="ordersCustomsVo">
        select * from orders where user_id = #{value}
    </select>
</mapper>